#property_details { 
  display: block;
  margin:0 auto; 
  position:relative; 
  z-index:10; 
  background: #eeeeee; 
  border:2px solid #cccccc; 
  border-radius:10px; 
}

#tooltip {
    position: absolute;
    border-width: 4px;
    border-color: black;
    background-color: grey;
    width: 200px;
    height: 200px;
    display: none;
}

tr:hover {
  background: #FCF; 
}

